locale: "pt-BR"
title: "Ralms.NET"
name: "Rafael Almeida"
email: ralms@ralms.net
description: "Rafael Almeida, Entity Framework Core, gRPC, Apache Kafka, ScyllaDB, Brazil, Dicas e Truques, C#, Performance, Performance .NET, Dicas EF Core, Advanced, Acesso a dados, Banco de dados, .NET Core, .NET 5, ASP.NET Core, ASP.NET 5, System.Text.JSON, JSON, Microsoft, Microsoft .NET, DOTNET CORE"
twitter_username: ralmsdeveloper
github: [metadata]
github_username: ralmsdeveloper/ralmsdeveloper.github.io
words_per_minute: 50
search: true
repository: ralmsdeveloper
# Build settings
markdown: kramdown
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: America/Sao_Paulo

include:
  - _pages 

exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - vendor
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - package.json
  - Rakefile
  - README
  - tmp
  - /docs # ignore Minimal Mistakes /docs
  - /test # ignore Minimal Mistakes /test
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "Rafael Almeida"
  avatar : /assets/images/bio.png
  bio    : "Microsoft MVP, Speaker, Solution Architect, passionate about C#, Loves EF Core, gRPC, Apache Kafka, ScyllaDB and access to high performance data."
  location: "Sergipe-Brasil"
  email: ralms@ralms.net
  github: ralmsdeveloper
  instagram: ralmsdeveloper
  linkedin: ralmsdeveloper
  twitter: ralmsdeveloper

footer:
  links:
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/ralmsdeveloper"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/ralmsdeveloper/"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      classes: wide
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

comments:
  provider               : disqus
  disqus:
    shortname            : ralmsdeveloper

analytics:
  provider               : google
  google:
    tracking_id          : UA-90644063-1








